:root {
	font-family: 'Inter', sans-serif;
	font-size: 1.125rem;
	line-height: 1.5;

	--primary-300: hsl(66, 96%, 47%);
	--secondary-500: hsl(256, 82%, 61%);
	--secondary-600: hsl(256, 82%, 41%);
	--secondary-600-transparent: hsla(256, 82%, 41%, calc(1 / 3));
	--secondary-800: hsl(256, 82%, 13%);
}
